@media only screen and (max-width: 1920px) {
  body {
    width: 100vw;
    height: 100vh;
  }

}



* {
  box-sizing: border-box;

}



.backimage {
  background-color: black;
  z-index: 1;
  width: 20%;
  height: auto;

}

.image-fit {

  background-color: rgb(0, 0, 0, 0.9);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/Modules/static/background-Main-Site.jpg");
     background-repeat: no-repeat;
  background-size: 5000px 300px;
  background-position: center;
  width: auto;
  margin-left: -808px;
  opacity: 1;
}

span {
  margin: 30px;
}

span:hover {
  color: blue;
}

.middle {
  margin-left: 25%;
  padding: 5px;

}


.heading {
  color: white;
  text-align: center;
  font-size: 25px;
  padding-top: 50px;
  width: auto;
  margin-left: 800px;
  animation: moving 2s linear infinite;
}


.navpad {
  margin-top: 50px;
  width: auto;
  margin: auto;


}

.fontsize {
  font-size: 30px;


}


footer {
  display: block;
  background-color: rgb(109, 21, 21l, 0.5);
  position: relative;
  text-align: center;
  color: white;
  height: auto;
}

body {
  background-color: black;
  width: 100vw;
  height: auto;
  margin: auto;
  overflow-x: hidden
}


article {
  width: auto;
  color: white;
  font-size: x-large;
  padding-left: 15px;
  margin-left: 450px;
  width: auto;
  margin: auto;


}


.box {
  position: absolute;
  justify-content: left;
  text-align: center;
  border: 3px dotted rgb(255, 251, 0);
  width: 80%;
  height: 885px;

}

.centerdiv {
  text-align: center;
  width: auto;
  height: auto;

}


aside {
  position: relative;
  width: auto;
  height: auto;
  margin-left: auto;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
}


.catego {
  text-align: left;
  font-size: 15px;
}


.imgleft {
  display: block;
  margin-left: -50px;
  margin-top: 10px;
  height: 350px;
}

.anime_info_body_bg {
  float: left;
  width: 100%;

}


.titlecen {
  margin-left: -605px;
  margin-top: -110px;

}

.titlecen2 {
  margin-left: 280px;
  margin-top: -10px;
}


.episodemove {
  margin-top: 15px;
  justify-content: center;

}




.greencolor {
  color: green;
}


.blue:hover {
  background-color: blue;
}




@keyframes moving {
  0% {
    transform: skewX(0deg);
  }

  25% {
    transform: skewX(15deg);
  }

  50% {
    transform: skewX(0deg);
  }

  75% {
    transform: skewX(-20deg);
  }

  100% {
    transform: skewX(0deg);
  }



}


.titlecen4 {
  margin-left: -430px;
  margin-top: -100px;
}

.episodemove2 {
  margin-top: 260px;
  justify-content: center;
}

.move {
  scale: 1.1;
  margin: auto;
}

.episodemove3 {
  margin-top: 220px;
  justify-content: center;
}

.mover {

  scale: 0.9;
}

.newsfeed {
  scale: 1;
  display: flex;
  z-index: auto;




}


.login-con {
  text-align: center;

}


.login-text {
  color: white;
}

#Animes2211:hover,
#info:hover,
#Home:hover {
  cursor: pointer;

}